**/.tag*
.idea/encodings.xml
.idea/juliaConfig.xml
.idea/Light-Sheet-Data-Processing-Script.iml
.idea/misc.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/runConfigurations/julia_repl.xml
.idea/other.xml
.idea/modules.xml
*.swc
*.nrrd

CellSegmentation/
julia_matrices_slides.pdf
julia_plotting_slides.pdf
TileTreesGUI.jl/
TiledFactorizations.jl/
RegisterQD.jl/
QuadDIRECT.jl/
parallel_reg_result_array.jld2
parallel_reg_result.jls
parallel_reg_result.jld2
Parallel_computing_with_Julia.pdf
morph.ppt

*.asv
